@model ProyectoFinal.Clases.Editar.SimpleEDIT

@{
    ViewData["Title"] = "Editar";
}

<head>
    <style>
        .container {
            padding: 88px 300px 52px 300px;
        }

        body {
            background-color: #c99e6b;
        }
    </style>
</head>

<div class="row_Editar">
    <h4 class="h4Editar">Editar</h4>
    <hr/>
    <div class="col-md-4">
        <form asp-action="Editar" id="form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="id" class="control-label">@Html.DisplayNameFor(model => model.id): @Model.id</label>
                <input type="hidden" asp-for="id" class="form-control" />
                <span asp-validation-for="id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="nombre" class="control-label"></label>
                <input asp-for="nombre" class="form-control" />
                <span asp-validation-for="nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="button" value="Save" class="btn-btn-primary-editar" onclick="enviar()"/>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script src="~/js/alerts.js"></script>
<script>
    const enviar = () => {
        const form = document.getElementById("form")
        confirmacion("Editar toquilla", "Desea editar la toquilla?", "Toquilla editada", form)
    }
</script>