@model ProyectoFinal.Clases.Insertar.SimpleINST

@{
    ViewData["Title"] = "Insertar";
}
<head>
    <style>

        .container {
            width: 418px;
        }

        body {
            background-color: #c99e6b;
        }

        .container {
            width: 418px;
            margin: 7% 35%;
        }
    </style>
</head>
<div class="row_Editar">
    <h4 class="h4Editar">Insertar Modelo</h4>
    <hr/>
    <div class="col-md-4">
        <form asp-action="Insertar" id="form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="nombre" class="control-label"></label>
                <input asp-for="nombre" class="form-control" />
                <span asp-validation-for="nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="button" value="Create" class="btn btn-primary" onclick="enviar()"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script src="~/js/alerts.js"></script>
<script>
    const enviar = () => {
        const form = document.getElementById("form")
        confirmacion("Insertar modelo", "Desea insertar un nuevo modelo?", "Modelo insertado", form)
    }
</script>